* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #fff5fa;
}

/* LOGIN */
.login-body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #87ceeb, #e6ccff, #ffc0cb);
}

.login-box {
    background: white;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
}

.login-logo {
    width: 70px;
    margin-bottom: 10px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #87ceeb;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.login-box button:hover {
    background: #5db5e6;
    transform: scale(1.05);
}

/* HEADER */
header {
    background: #87ceeb;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    margin-right: 10px;
}

header h1 {
    color: white;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

nav a:hover {
    color: #ffe4f0;
}

/* HERO */
.hero {
    background: linear-gradient(135deg, #e6ccff, #ffc0cb);
    padding: 80px 20px;
    text-align: center;
}

/* BUTTON */
.btn {
    padding: 12px 25px;
    background: #87ceeb;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    transform: translateY(-5px);
    background: #5db5e6;
}

/* SECTION */
.section {
    padding: 60px 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #f0e6ff;
    margin: 15px;
    padding: 25px;
    width: 220px;
    border-radius: 12px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0,0,0,0.15);
}

.produk-img, .step-img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    background: #87ceeb;
    color: white;
    text-align: center;
    padding: 15px;
}

/* ANIMASI */
.animate {
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1s forwards;
}

.animate-top {
    animation: fadeDown 1s;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
